#Environment
.encryptedKey.json
node_modules
.env
coverage
coverage.json
typechain
typechain-types

# vscode
.vscode

# Hardhat files
cache
artifacts
.DS_Store
deployments
gas-report.txt

#Other Files
.notes.md
